body{
    background-image:url("https://static1.squarespace.com/static/548b1c40e4b0765ee0af6a25/t/57ab9528cd0f689a52298de9/1497650753505/?format=1500w");
background-color:#3E3E3E;
}
p{
    color:white;
    font-size:20px;
}
#leftPane{
    display:flex;
justify-content:center;
}
h1 {
    display:flex;
    justify-content:center;
    color:#FF0000;
}
a {
    color:white;
}

#head{
    display: flex;
    justify-content: center;
    background-color:#FF0000;
    margin:10px;
}
.header{
    margin:40px;
    font-size:30px;
    padding:20px;
    margin:10px;
}
#Concerts{
    display:flex;
    justify-content:center;
    padding:30px;
}

.link{
    margin:30px;
    font-size:25px;
}

.link:hover{
    background-color:#FF0000;
}
.header:link{
    text-decoration:none;
}
.header:hover{
    color:black;
}
.header:visited {
    text-decoration: none;
}
#Title{
    justify-content:center;
    margin-left:10px;
}
.images {
    display:flex;
    justify-content:center;
}
#image{
width:40%;
height:40%;
}