body{
    background-image:url("https://static1.squarespace.com/static/548b1c40e4b0765ee0af6a25/t/57ab9528cd0f689a52298de9/1497650753505/?format=1500w");
background-color:#3E3E3E;
}
p{
    color:white;
    font-size:25px;
}
#leftPane{
    display:flex;
    justify-content:center;
}
h1 {
    display:flex;
    justify-content:center;
    color:#FF0000;
}
a {
    color:white;
}

#head{
    display: flex;
    justify-content: center;
    background-color:#FF0000;
    margin:10px;
}
.header{
    margin:40px;
    font-size:30px;
    padding:20px;
}
a:link{
    text-decoration:none;
}
a:hover{
    color:black;
}
a:visited {
    text-decoration: none;
}
#Title{
    margin-left:10px;
}
.Bio{
    display:flex;
    justify-content:center;
    margin-left:10px;
    margin-right:10px;
    text-shadow:2px 2px #FF0000;
}
.images{
    display:flex;
    justify-content:center;
    
}
#image{
width:30%;
height:30%;
}